{% extends "base.html" %}
{% block title %}Gamebeater | Games{% endblock %}
{% block content %}
	{% if game_list %}
		<table>
			<tr>
				<th>Title</th>
				<th>Genres</th>
				<th>Consoles</th>
			</tr>
			{% for game in object_list %}
				<tr>
					<td>{{ game.title }}</td>
					<td>
						{% if game.genres.all %}
							<ul>
								{% for genre in game.genres.all %}
									<li>{{ genre.name }}</li>
								{% endfor %}
							</ul>
						{% else %}
							This game belongs to no genre! How mysterious!
						{% endif %}
					</td>
					<td>
						{% if game.consoles.all %}
							<ul>
								{% for console in game.consoles.all %}
									<li>{{ console.name }}</li>
								{% endfor %}
							</ul>
						{% else %}
							This game was never on any console. That's not right.
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>Sorry! There don't appear to be any games here.</p>
	{% endif %}
{% endblock %}