{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Gamebeater | Add Games{% endblock %}

{% block navbar %}
<!-- Nav bar section -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'profiles:dashboard' %}">Gamebeater</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'profiles:dashboard' %}">Dashboard</a></li>
				<li class="active"><a href="">Add Games</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#user"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ request.user.username }}</a></li>
				<li><a href="{% url 'logout' %}">Logout</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
{% endblock %}

{% block content %}
<ol class="breadcrumb gamebeater-breadcrumb text-muted">
	<li><i>Add Games</i></li>
</ol>

<h1>Add Games</h1>

<div class="row">
    {% for add_game_form in add_game_forms %}
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{ add_game_form.data.game.title }}</h2>
            </div>
            <div class="panel-body">
                <form id="add_game_form" method="post" action="{% url 'profiles:create_ownership' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ add_game_form.non_field_errors }}
                    <label for="{{ add_game_form.owner.id_for_label }}" class="control-label">
                    </label>
                    {{ add_game_form.owner|add_class:"form-control" }}
                    <label for="{{ add_game_form.game.id_for_label }}" class="control-label">
                    </label>
                    {{ add_game_form.game|add_class:"form-control" }}
                    <div class="form-group">
                        {{ add_game_form.platform.errors }}
                        <label for="{{ add_game_form.platform.id_for_label }}" class="control-label">
                            Platform:
                        </label>
                        {{ add_game_form.platform|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        {{ add_game_form.ownership_status.errors }}
                        <label for="{{ add_game_form.ownership_status.id_for_label }}" class="control-label">
                            Ownership Status:
                        </label>
                        {{ add_game_form.ownership_status|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        {{ add_game_form.completion_status.errors }}
                        <label for="{{ add_game_form.completion_status.id_for_label }}" class="control-label">
                            Completion Status:
                        </label>
                        {{ add_game_form.completion_status|add_class:"form-control" }}
                    </div>
                    <div class="gamebeater-centeredBtn">
                        <button type="submit" class="btn btn-default">
                            Add Game
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
