<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
{% extends "base.html" %}
{% block title %}Gamebeater | Dashboard{% endblock %}
{% block content %}
<h1>Dashboard</h1>
<p>Welcome back {{gamebeaterprofile.user.username}}!</p>

<p><a href="{% url 'profiles:add_games' %}">Add some games to your gamebeater!</a></p>

<h2>Game Summary</h2>
<ul>
	<li>You have {{ gamebeaterprofile.games.count }} of games in your gamebeater</li>
	{% for gameownerships_by_completion_status in gameownerships_by_completion_status_list %}
	<li>{{ gameownerships_by_completion_status.gameownership_list.count }} games({{ gameownerships_by_completion_status.completion_status_percentage }}%) are {{ gameownerships_by_completion_status.completion_status }}</li>
	{% endfor %}
</ul>
<h2>Games To Beat</h2>
<div class="pure-g">
	{% for gameownerships_by_completion_status in gameownerships_by_completion_status_list %}
	<div class="pure-u-1-4">
		<h3>{{ gameownerships_by_completion_status.completion_status }}</h3>
		{% for gameownership in gameownerships_by_completion_status.gameownership_list %}
		<div class="game-box">
			<h4>{{ gameownership.game.title }}</h4>
			<p><a href="url Goals for game">Goals</a></p>
			<form id="completion_form" method="post" action="{% url 'profiles:completion_status_update' gameownership.pk %}" enctype="multipart/form-data">
	           {% csrf_token %}

	           {{ completion_status_update_form.as_p }}

	           <input type="submit" name="submit" value="Change Status" />
            </form>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>

{% endblock %}